<div class="page">
  <div class="container">
    <div class="header">
      <h1>START</h1>

      <p class="process-id" *ngIf="loading">
        Trwa generowanie identyfikatora procesu...
      </p>

      <p class="process-id" *ngIf="!loading && processId">
        Identyfikator procesu: <strong>{{ processId }}</strong><br>
        Identyfiktator zadania: <strong>{{ taskId }}</strong>
      </p>

      <p class="process-id error" *ngIf="!loading && error">
        {{ error }}
      </p>
    </div>

    <div class="actions">
      <button type="button" (click)="openCalculator()">KALKULACJA</button>
      <button type="button" (click)="openCollector()">KOLEKCJA</button>
      <button type="button" (click)="openDecision()">DECYZJA</button>
    </div>

    <div class="host-slot">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
